body{
    margin:0px;
    align-items:center ;
}
.slide-container{
    position:relative;
    width:100%;
}
.slide img{
    margin-top: 160px;
    width:40%;
    height: 300px;
}
.img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:20px;
}
.arrow{
    cursor:pointer;
    position :absolute;
    top:45%;
    color:black;
    background-color: rgb(249, 239, 239);
    padding:8px 19px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
}
.next{
    right:150px;
}
.prev{
    left: 150px;
}
.slide{
    display:none;
}